@model RecuperacaoSenhaViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@Seo.Title</title>
    <link rel="shortcut icon" href="@Url.Content("favicon.ico")" />

    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")
</head>

<body class="fc-bg">
    <div class="middle-box text-center loginscreen">
        <div>
            <h1><img src="@(Config.Root)Images/logo.png" alt="WPP Company" /></h1>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <p>Digite seu email para iniciar o processo de recuperação de senha:</p>
            </div>
            <div class="ibox-content">
                <form id="recoverform" class="form-vertical" action="@Url.Action("SolicitarNovaSenha", "RecuperacaoSenha")" method="post" autocomplete="off">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" name="viewModel.Login" required="" value="@Model.Login">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Solicitar Nova Senha</button>

                    <ul class="list-group clear-list m-t">
                        @foreach (var error in Model.Erros)
                        {
                            <li class="list-group-item fist-item">@error.ErrorMessage</li>
                        }
                    </ul>

                    <a href="@Url.Action("Index")" title="Voltar para login"><small>Voltar para login</small></a>
                </form>
            </div>
        </div>

    </div>
</body>
</html>
