@model string
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@Seo.Title</title>
    <link rel="shortcut icon" href="@Url.Content("favicon.ico")" />

    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")
</head>

<body class="fc-bg">
    <div class="middle-box text-center loginscreen">
        <div>
            <h1><img src="@(Config.Root)Images/logo.png" alt="WPP Company" /></h1>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <p>@Model</p>
            </div>
            <div class="ibox-content">
                <a href="@Url.Action("Index", "Login")" title="Voltar para login">Voltar para login</a>
            </div>
        </div>
    </div>
</body>
</html>
